dialog {
    position: relative;
    width: 90%;
    height: 90%;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: var(--corner, 20px);

    color: inherit;
    background-color: #808080CC;
}

dialog::backdrop {
    background-color: #000000CC;
    backdrop-filter: blur(2px);
}

/* TODO: remove defaults from dialog and explicitly style .modal */
dialog > .modal {
    position: absolute;
    inset: 0;
    height: fit-content;
    padding: 2rem;
    background-color: hsl(0, 0%, var(--bg-value, 50%));
}

dialog > .close {
    position: sticky;
    top: 0.5em;
    right: 0.5em;
    display: block;
    margin-left: auto;
}


/* Organize modal */
.overview {
    display: grid;
    gap: 1em;
}

.org-wrapper {
    padding: 1em;
    border-radius: 1em;
    border: 2px solid #808080;
}

.org-palette {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16ch, 1fr));
}

.org-swatch {
    padding: 10px;
    padding-left: 1em;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;

    cursor: pointer;
}

.org-swatch:focus {
    overflow: visible;
    width: fit-content;
    min-width: 100%;
    z-index: 1;
    position: relative;
    translate: -50%;
    left: 50%;

    border-radius: 5px;
}

.org-swatch[contenteditable="true"] {
    cursor: text;
}
